.transactionContainer {
    display: block;
    width: 100%;
    padding: 0px 0.5rem;
}

.latestTransactionContainer {
    padding: 1rem 0.8rem;
}

.latestTransactionText {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

.border {
    border-top: 1px solid black;
}

.transactionDataContainer {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.txnDataNoTimeContainer {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: calc(30%);
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    color: black;
    padding-right: 8px;
     font-size: 1rem;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        text-align: left;
    
}

.txnDataNoText {
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.txnDataNoText:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.txnkDataTimeText {
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.7);
}

.txnValueTextContainer {
    padding: 1rem;
    color: #77838f;
    background-color: rgba(119,131,143,.1) !important;
    border-radius: 10px;
    min-width: 120px;
}

.txnTxnDetailsContainer {
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: calc(30%);
    text-overflow: ellipsis;
    color: black;
    padding: 0 8px;
}

.txnTxnRecipientName {
    padding-bottom: 0.5rem;
    white-space: nowrap;
    white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        text-align: left;
}

.txnTxnRecipientNameText {
    color: black;
    font-size: 1rem;
    padding-right: 0.5rem;
    
}

.txnTxnRecipientNameValue {
    color: black;
    font-size: 0.9rem;
    cursor: pointer;
    white-space: nowrap;
    white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        text-align: left;
}

.txnTxnRecipientNameValue:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: left;
}

.txnTxnCountValue {
    color: black;
    font-size: 1rem;
    padding-right: 0.5rem;
}

.txnTxnTimeValue {
    font-size: 1rem;
    color: black;
    cursor: pointer;
}

.txnTxnTimeValue:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

.txnsViewContainer {
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    border-radius: 25px;
    background: rgba(52,152,219,.1) !important;
    text-align: center;
    cursor: pointer;
    color: #3498db;
}

.txnsViewText {
    font-size: 1rem;
}

.txnsViewContainer:hover {
    background: linear-gradient(270deg, rgba(16, 167, 182, 0.548515) 0%, #10A7B6 0%, #AC83A9 50%, #E66660 100%) !important;
    color: black;
}