.contentContainer {
    background-color: rgba( 255, 255, 255, 0.8);
    padding: 0px 20px;
}

.contentHeadingContainer {
    padding-top: 70px;
}

.contentHeadingText {
    color: black;
    font-weight: bolder;
    font-size: 2rem;
}

.inputContainer {
    padding-top: 40px;
    height: 40px !important;
    padding-bottom: 4rem;
}

.inputFieldContainer {
    display: inline-block;
    width: 60% !important;

}
.errText{
    color:red;
    padding:10px;font-size:12px;font-weight: bold;
}
.inputField {
    height: 40px;
    width: 100% !important;
    border: 1px solid #10A8B6;
    outline: none !important;
    padding: 4px !important;
    border-radius: 5px;
}

.inputField:active, .inputField:focus {
    outline: none;
}

.inputSearchText {
    height: 100%;
    padding-left: 12px;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: orange;
    margin-left: 10px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #d97112;
}
.trans_card{
    display: flex;
    grid-template-columns: 1fr 1fr;
    column-gap: 110px;
    row-gap: 30px;
    justify-content: center;
    margin-top: 45px;
}