.blockTransactionContainer {
    display: flex;
    flex-direction: row;
    background-color: rgba( 255, 255, 255, 0.8);
    margin: auto;
    min-height: calc(100vh - 10rem);
    padding: 3rem 0;
    justify-content: space-between;
}

.blockTxnMgn {
    display: inline-block;
    border-radius: 25px;
    width: 95%;
    margin: 0 2%;
    padding: 1rem;
    background-color: rgba( 255, 255, 255, 1);
}

@media screen and (max-width: 1000px) {
    .blockTransactionContainer {
        flex-direction: column;
    }

    .blockTxnMgn {
        width: 90%;
        margin: 2%;
    }
}